body {
    background: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

button {
    margin: 20px;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 300px;
    height: 400px;
    transition: 0.4s;
    background: #707070;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start; 

}

button:hover {
    transform: scale(1.1);
}

img[id="Jeux"] {
    width: 150px;
    height: 100px;
}

button a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
button p {
    color: #0e0d0d;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 19px;s
}
